{% extends "template.html" %}
{% block title %}Play{% endblock title %}
{% block pageTitle %}Play{% endblock pageTitle %}
{% block navLink %}play{% endblock navLink %}
{% block body %}
<!-- Make a P5.js canvas that will interact with the flask backend to play the Cinch game -->
<div class="text-center">
  <div id="gameContainer">
    <!-- The P5.js canvas will be rendered here -->
    <div id="game-container" class="position-relative d-flex align-items-center justify-content-center" style="min-height: 400px;">
      
      <!-- Loading Animation Element -->
      <div id="canvas-loader" class="text-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
          <span class="visually-hidden">Loading Game...</span>
        </div>
        <p class="mt-2 text-muted fw-bold">Loading Cinch Engine...</p>
      </div>

    </div>
    <div id="decisions" class="mt-3"></div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/p5@1.11.13/lib/p5.min.js"></script>
<script src="{{ url_for('static', filename='js/player.js') }}"></script>
<script src="{{ url_for('static', filename='js/game.js') }}"></script>
{% endblock body %}

{% block results %}
{% endblock results %}